@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* TODO: coba buat ngetes apakah si scrollbar tetap makan ruang atau kagak */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* TODO: bikin ini hanya aktif di homepage doang aka yg perlu doang, ini pakai html malah semua page kena */
html {
  scroll-behavior: smooth;
  /* overflow-y: scroll; */
}

.carousel-container::-webkit-scrollbar,
.carousel-container__inner::-webkit-scrollbar {
  display: none;
}

.carousel-container,
.carousel-container__inner {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

button:disabled .slider-icon {
  color: rgba(103, 88, 35, 0.5);
}

button.center-slider:disabled {
  background-color: rgba(103, 88, 35, 0.5);
}

#navbarLogo {
  transition: all 0.5s ease-out;
}

#aside {
  transition: left 0.5s ease;
}

.carousel-container__inner {
  display: grid;
  grid-auto-flow: column;
  /* grid-auto-columns: calc((100% - 48px)/ 4); */
  /* gap: 10px; */
  overflow-x: scroll;
}